@charset "UTF-8";

@media screen and (max-width: 360px) {

header > .container {
	position: relative;
	align-items: flex-start;
}
	
.header-logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	width: 235px;
}
	
.header-logo img {
	width: 100%;
	object-fit: cover; /* 이미지 크기 비율 자동 알맞게 조정하는 속성 */
}
	
.gap-1 {
	gap: .5rem
}

.main_nav {
	top: 10px;
}
	
.main_nav > .container {
	flex-direction: column;
	gap: 0;
	text-align: left;
	gap: .1rem;
}
	
.main_nav > .container a {
	flex-direction: column;
	background-color: var(--main-font-color);
	color: #ffffff;
	height: 50px;
	line-height: 50px;
	display: block;
	width: 100%;
	background-image: url("images/nav_down_arrow_white.jpg");
	background-position: right;
	background-position: center;
/*	background: no-repeat;	*/
}
	
header .container{
	padding-top: 1rem;
	padding-bottom: 1rem;
	height: 143px;
	box-sizing: border-box;
}
	
.main-nav a:hover {
	background-color: black;
}
	
main, aside, footer, #trailer {
	display: none;}
}
