@charset "UTF-8";
:root { /* 변수선언 */
	--base-font-color: #000;
	--main-font-color: #f9c02d;
	--main-link-color: #666;
	--base-font-size: 16px;
	--point-font-size: 20px;
}

html {
	font-size: 20px;
}
/* pc 스타일

	1. 스타일 초기화: 직접?[v] 아님 초기값 가지고?
	2. 레이아웃 관련 공통 스타일, 구역별 세부 스타일 구분
	-헤더~푸터
	3. 레이아웃 기법: 여러가지~ 어떤 것을 어떻게 사용할지
	-대부분: 플렉스박스
	-부분: 플로트, 포지션
	-display 변경해가며 구현
	
 */
 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Maven Pro','Noto Sans KR', sans-serif;
	/* 글꼴의 경우 직접추가 혹은 가져다쓰기 가능. */
}

a, a:link {
	color: inherit;
	text-decoration: none;
}

hr {
	border: 0;
	height: 2px;
	background-color: var(--main-font-color);
	position: relative;
	top: -5px;
}

.pos-absolute {
	position: absolute;
}

/* ======================= 01. 레이아웃 공통 클래스 정의 ======================= */
.text-center {
	text-align: center;
}

.d.none {
	display: none;
}

.d-flex {
	display: flex;
}


.container {
	max-width: 1000px; /* 요즘은 1200쯤 한다 요건 좀 작은 편 */
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.align-center{
	align-items: center;
}

.align-self-center{
	align-items: 
}

.mx-auto {
	margin: 0 auto;
}

.mx-10 {
	margin-right: 10px;
	margin-left: 10px;
}

.mt-1 {
	margin-top: 1rem;
}

.mt-2 {
	margin-top: 2rem;
}

.mt-3 {
	margin-top: 3rem;
}

.mt-4 {
	margin-top: 4rem;
}

.mt-5 {
	margin-top: 5rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

.mb-3 {
	margin-bottom: 3rem;
}

.gap-1 {
	gap: 1rem;
}

.gap-2 {
	gap: 2rem;
}

.gap-3 {
	gap: 3rem;
}

.border-top-thin {
	border-top: 1px solid #000;
}

.border-left-thin {
	border-top: 1px solid #000;
}



/* ======================= 02. 세부 클래스 정의 ======================= */



/* ======================= 02-1. header 클래스 정의 ======================= */

.links {
	font-size: 14px;
	color: var(--main-link-color);
}

.links a:hover {
	color: var(--base-font-color);
}

/* ======================= 02-1-1. navigation 클래스 정의 ======================= */

.main_nav {
	font-size: 0.9rem;
	font-weight: 700;
	color: var(--main-font-color);
}

.main_nav a:hover {
	color: var(--base-font-color);
}


/* ======================= 02-2. trailer 아이디 정의 ======================= */

#trailer {
	
}

.devils {
	z-index: 10;
	left: 50%;
	top: 40%;
	transform: translateX(-50%);
}

.devils:visited, .devils: hover {
	display:none;
	
}

.youtubeWrap {
	position: relative;
	hegith: 0;
	padding-top: 0ox;
	padding-bottom: 56.25%;
	overflow: hidden;
}

.youtubeWrap iframe,.youtubeWrap object,.youtubeWrap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ======================= 04. main > article ====================== */

main h2 {
	font-size: 1.5rem;
	color: var(--main-font-color);
	font-weight: 900;
	text-transform: capitalize
}
.character {
	text-align: center;
	border: 1px solid var(--main-font-color); /* 색상변수. 같은 색상 여러 번 쓸때 한 번에 바꾸기 용이하다. */
	flex: 1; /* 몇개 항목이 있든 1:1:1 요 비율로 ㄱㄱ */
}

.character img {
	text-align: center;
}

/* ======================= 05. main > aside ====================== */
aside {
	background-color: var(--main-font-color)
}


/* ======================= 02-3. footer 클래스 정의 ======================= */
